<template>
  <v-app dark>
    <Toolbar />

    <v-content>
      <Sidebar />

      <v-container>
        <transition :name="transitionName" mode="out-in">
          <router-view></router-view>
        </transition>
      </v-container>

    </v-content>
  </v-app>
</template>

<style lang="scss">
  $animation-time: .3s;

  .slide-fade-top-enter-active,
  .slide-fade-bottom-enter-active,
  .slide-fade-right-enter-active,
  .slide-fade-left-enter-active {
    transition: all $animation-time ease-in-out;
  }
  .slide-fade-top-leave-active,
  .slide-fade-bottom-leave-active,
  .slide-fade-right-leave-active,
  .slide-fade-left-leave-active {
    transition: all $animation-time ease-in-out;
  }
  .slide-fade-top-enter,
  .slide-fade-top-leave-to,
  .slide-fade-bottom-enter,
  .slide-fade-bottom-leave-to,
  .slide-fade-right-enter,
  .slide-fade-right-leave-to,
  .slide-fade-left-enter,
  .slide-fade-left-leave-to {
    opacity: 0;
  }
  .slide-fade-top-enter,
  .slide-fade-top-leave-to {
    transform: translateY(-100px);
  }
  .slide-fade-bottom-enter,
  .slide-fade-bottom-leave-to {
    transform: translateY(100px);
  }
  .slide-fade-right-enter,
  .slide-fade-right-leave-to {
    transform: translateX(100px);
  }
  .slide-fade-left-enter,
  .slide-fade-left-leave-to {
    transform: translateX(-100px);
  }
</style>

<script>
  import Sidebar from '../components/sidebar/Sidebar';
  import Toolbar from '../components/toolbar/Toolbar';

  export default {
    name: 'Entrypoint',
    components: {
      Sidebar,
      Toolbar,
    },

    data () {
      return {
        transitionName: 'slide-fade-bottom',
      };
    },

    watch: {
      '$route' (to, from) {
        const toDepth = to.path.split('/').length;
        const fromDepth = from.path.split('/').length;
        this.transitionName = (fromDepth === toDepth) ? 'slide-fade-bottom'
          : (fromDepth > toDepth ? 'slide-fade-right' : 'slide-fade-left');
      }
    },
  };
</script>
