<template>
  <v-layout
    text-xs-center
    wrap
  >
    <v-flex xs12>
      <v-img
        src="static/freepik/vuedooist.svg"
        alt="vuedooist-logo"
        aspect-ratio="1"
        height="200"
        contain
      ></v-img>
      <small>
        Icon by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>, licensed by
        <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
      </small>

      <h1 class="display-2 font-weight-bold my-3">
        Welcome to<br/>Vuedooist!
      </h1>

      <p
        v-for="callToAction in callsToAction"
        :key="callToAction.labelKey"
        class="subheading font-weight-regular"
      >
        <v-icon
          :color="callToAction.color"
          class="pr-2"
        >
          mdi-{{ callToAction.icon }}
        </v-icon>
        {{ l10n.callsToAction[callToAction.labelKey] }}
      </p>

        <!--Start by defining <router-link to="/tasks">your goals</router-link> first,<br/>
        and then <router-link to="/tasks">your tasks</router-link> to be accomplished today!-->
    </v-flex>
  </v-layout>
</template>

<script>
  import i18nMessages from './locale';
  import I18n from '../../mixins/i18n';

  export default {
    name: 'landing',

    mixins: [
      I18n,
    ],

    data() {
      return {
        callsToAction: [
          { icon: 'fire', color: 'orange', labelKey: 'purpose' },
          { icon: 'bullseye-arrow', color: 'red', labelKey: 'goals' },
          { icon: 'rocket', color: 'blue', labelKey: 'projects' },
          { icon: 'clipboard-check-outline', color: 'green', labelKey: 'tasks' },
          { icon: 'monitor-dashboard', color: 'grey lighten-1', labelKey: 'scoreboard' },
        ],
        i18nMessages,
        l10n: { callsToAction: {} },
      };
    },

    methods: {
      localize() {
        this.callsToAction.forEach(callToAction => {
          this.l10n.callsToAction[callToAction.labelKey] = this._('callsToAction.' + callToAction.labelKey);
        });
      },
    },
  };
</script>
