<template>
  <v-btn
    color="primary"
    @click.stop="openDialog"
  >
    <v-icon class="mr-1">mdi-login</v-icon>
    {{ isSignedIn ? l10n.tabs.out : l10n.label.sign }}

    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <!-- Tabs -->
        <v-tabs
          ref="tabs"
          v-model="activeTab"
          color="primary"
          centered
          dark
          grow
          slider-color="yellow"
        >
          <!-- Tab buttons -->
          <v-tab
            v-for="tab in tabs"
            :key="tab.id"
            ripple
            @click="switchTab"
          >
            <v-icon class="mr-1">{{ tab.icon }}</v-icon>
            {{ l10n.tabs[tab.id] }}
          </v-tab>
        </v-tabs>

        <v-container grid-list-md>
          <v-layout wrap>
            <v-tabs-items v-model="activeTab">

              <!-- Tab content: sign in -->
              <v-tab-item>
                <v-form ref="form.in" @keyup.native.enter="signIn">
                  <!-- Username -->
                  <v-flex xs12>
                    <v-text-field
                      ref="firstSignInField"
                      v-model="form.username"
                      :label="l10n.label.username"
                      :rules="[rules.required, rules.min]"
                      prepend-icon="mdi-face"
                      maxlength="25"
                      counter
                    ></v-text-field>
                  </v-flex>
                  <!-- Password -->
                  <v-flex xs12>
                    <v-text-field
                      v-model="form.passphrase"
                      :label="l10n.label.passphrase"
                      :rules="[rules.required]"
                      :append-icon="signInPassphraseVisibility"
                      :type="signInPassphraseType"
                      @click:append="() => toggleVisibility('in.passphrase')"
                      prepend-icon="mdi-textbox-password"
                      maxlength="120"
                      counter
                    ></v-text-field>
                  </v-flex>
                  <v-container class="text-xs-center pa-0">
                    <v-btn color="primary" @click="signIn">{{ l10n.tabs.in }}</v-btn>
                  </v-container>
                </v-form>
              </v-tab-item>

              <!-- Tab content: sign up -->
              <v-tab-item>
                <v-form ref="form.up" @keyup.native.enter="signUp">
                  <!-- Username -->
                  <v-flex xs12>
                    <v-text-field
                      ref="firstSignUpField"
                      v-model="form.username"
                      :label="l10n.label.username"
                      :rules="[rules.required, rules.min, rules.username]"
                      prepend-icon="mdi-face"
                      maxlength="25"
                      counter
                    ></v-text-field>
                  </v-flex>
                  <!-- Passphrase -->
                  <v-flex xs12>
                    <v-text-field
                      v-model="form.passphrase"
                      :label="l10n.label.passphrase"
                      :rules="[rules.required]"
                      :append-icon="signUpPassphraseVisibility"
                      :type="signUpPassphraseType"
                      @click:append="() => toggleVisibility('up.passphrase')"
                      prepend-icon="mdi-textbox-password"
                      maxlength="120"
                      counter
                    ></v-text-field>
                  </v-flex>
                  <!-- Passphrase verification -->
                  <v-flex xs12>
                    <v-text-field
                      ref="passphraseVerification"
                      v-model="form.passphraseVerification"
                      :label="l10n.label.passphraseVerification"
                      :rules="[rules.required, rules.passphrasesMatch]"
                      :append-icon="signUpPassphraseVerificationVisibility"
                      :type="signUpPassphraseVerificationType"
                      @click:append="() => toggleVisibility('up.passphraseVerification')"
                      prepend-icon="mdi-textbox-password"
                      maxlength="120"
                      counter
                    ></v-text-field>
                  </v-flex>
                  <v-container class="text-xs-center pa-0">
                    <v-btn color="primary" @click="signUp">{{ l10n.tabs.up }}</v-btn>
                  </v-container>
                </v-form>
              </v-tab-item>

            </v-tabs-items>
          </v-layout>
        </v-container>
      </v-card>

    </v-dialog>
  </v-btn>
</template>

<style>
  .v-window {
    width: 100%;
  }
</style>

<script>
  /* global webpackHotUpdate */
  import {capitalize, defaultsDeep, forEach, get, set} from 'lodash';
  import moment from 'moment';

  // Mixins.
  import Axios from '../../mixins/axios';
  import I18n from '../../mixins/i18n';
  import Utils from '../../mixins/utils';

  // Store.
  import { createNamespacedHelpers } from 'vuex';
  import * as types from '../../store/types';

  import {apiHref} from '../../constants';
  import i18nMessages from './locale';


  const {
      mapActions: mapAccountActions,
      mapGetters: mapAccountGetters,
      mapState: mapAccountState,
    } = createNamespacedHelpers('account');

  export default {
    name: 'Sign',

    mixins: [
      Axios,
      I18n,
      Utils,
    ],

    data () {
      const data = {
        activeTab: null,
        dialog: false,
        i18nMessages,
        l10n: {},
        tabs: [
          { id: 'in', icon: 'mdi-account-key' },
          { id: 'up', icon: 'mdi-account-plus' },
        ],
        form: {
          username: null,
          passphrase: null,
          passphraseVerification: null,
        },
        show: {
          up: {
            passphrase: false,
            passphraseVerification: false,
          },
          in: {
            passphrase: false,
          },
        },
        rules: {
          required: value => !!value || this.l10n.error.required,
          min: v => ((v && v.length >= 8) || this.l10n.error.minLength),
          passphrasesMatch: () => {
            const match = this.$refs.passphraseVerification
              && this.form.passphrase === this.$refs.passphraseVerification.value;
            return match || this.l10n.error.passphrasesDontMatch;
          },
          username: (value) => {
            return /[a-zA-Z0-9@/.+_-]{8,25}/.test(value);
          },
        },
      };

      // Format properly the Django reversed URLs.
      data.authApi = defaultsDeep({}, window.authUrls);
      Object.values(data.authApi).forEach(endpoints => {
        for (let type in endpoints) {
          endpoints[type] = new URL(endpoints[type], apiHref);
        }
      });

      if (!webpackHotUpdate) {
        // DO NOT remove Django context on dev server, because it will break
        // passing context to the VueJS template when hot-reloading happens.
        delete window.authUrls;
      }

      return data;
    },

    computed: {
      signUpPassphraseType() {
        return this.getInputType(this.show.up.passphrase);
      },
      signUpPassphraseVerificationType() {
        return this.getInputType(this.show.up.passphraseVerification);
      },
      signInPassphraseType() {
        return this.getInputType(this.show.in.passphrase);
      },
      signUpPassphraseVisibility() {
        return this.getVisibilityIcon(this.show.up.passphrase);
      },
      signUpPassphraseVerificationVisibility() {
        return this.getVisibilityIcon(this.show.up.passphraseVerification);
      },
      signInPassphraseVisibility() {
        return this.getVisibilityIcon(this.show.in.passphrase);
      },
      ...mapAccountGetters([
        'isSignedIn',
      ]),
      ...mapAccountState({
        token: state => state.token,
      }),
    },

    mounted() {
      this.tabs.forEach(tab => {
        tab.firstField = this.$refs[`firstSign${capitalize(tab.id)}Field`];
      });

      if (webpackHotUpdate && this.$route.fullPath !== '/' && !this.token) {
        // Dev-only: auto-sign-in as the test user to speed things up.
        const data = require('../../../../data/testUser.json');
        this.$axios.post(this.authApi.sign.in, data)
          .then(response => this.saveAuthToken(response.data))
          .catch(this.axiosRequestErrorHandler);
      }
    },

    methods: {
      getInputType(visible) {
        return visible ? 'text' : 'password';
      },
      getVisibilityIcon(visible) {
        return visible ? 'mdi-eye' : 'mdi-eye-off';
      },

      toggleVisibility(keypath) {
        set(this.show, keypath, !get(this.show, keypath));
      },

      switchTab() {
        let activeTab;
        this.$nextTick(() => {
          activeTab = this.tabs[this.activeTab];
          const form = this.$refs[`form.${activeTab.id}`];
          form.reset();
          form.resetValidation();
        });
        // We must wait until tabs transition finishes to apply focus.
        this.defer(() => activeTab.firstField.onFocus(), 150);
      },

      openDialog() {
        if (this.isSignedIn) {
          this.signOut();
          this.dialog = false;
          return;
        }

        this.dialog = true;
        // For some reason, slider under active tab is not shown by default
        // when opening the dialog, so we force it manually here.
        this.$refs.tabs.callSlider();
        this.switchTab();
      },

      signUp() {
        const form = this.$refs['form.up'];
        const valid = form.validate();
        if (!valid) {
          return false;
        }

        const data = {
          username: this.form.username,
          password1: this.form.passphrase,
          password2: this.form.passphraseVerification,
        };

        this.$axios.post(this.authApi.sign.up, data)
          .then(response => this.saveAuthToken(response.data))
          .catch(this.axiosRequestErrorHandler);
      },

      // TODO: Use our cookie manager plugin.
      getCookie(name) {
        let value = null;
        if (!document.cookie || document.cookie === '') return value;
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            value = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
        return value;
      },

      getCSRFCookie() {
        return this.getCookie('csrftoken');
      },

      signIn() {
        const form = this.$refs['form.in'];
        const valid = form.validate();
        if (!valid) return false;

        const data = {
          username: this.form.username,
          password: this.form.passphrase,
          csrfmiddlewaretoken: this.getCSRFCookie(),
        };

        this.$axios.post(this.authApi.sign.in, data)
          .then(response => this.saveAuthToken(response.data))
          .catch(this.axiosRequestErrorHandler);
      },

      saveAuthToken(data) {
        this.setToken({ token: data.token });
        this.$axios.defaults.headers.common['Authorization'] = `Token ${data.token}`;
        this.$axios.defaults.headers.common['X-CSRFToken'] = this.getCSRFCookie();
        this.tokenExpiryDate = data.expiry;
        const waitTime = moment(data.expiry).diff(moment());
        // FIXME: We should reset the timer each time an axios
        // get/post/put/delete request is made.
        //this.defer(() => this.clearAuth(), waitTime.valueOf());
        this.dialog = false; // Close auth dialog.
      },

      signOut() {
        this.$axios.post(this.authApi.sign.out, {})
          .then(() => this.clearAuth())
          .catch(this.axiosRequestErrorHandler);
      },

      clearAuth() {
        this.clearToken();
        delete this.$axios.defaults.headers.common['Authorization'];
        delete this.$axios.defaults.headers.common['X-CSRFToken'];
        this.tokenExpiryDate = null;
        this.$router.push('/');
      },

      /** @summary Localize all the component messages. */
      localize() {
        const toLocalize = {
          error: ['minLength','passphrasesDontMatch', 'required'],
          label: ['username', 'passphrase', 'passphraseVerification', 'sign'],
          tabs: ['in', 'out', 'up'],
        };
        forEach(toLocalize, (keys, path) => {
          keys.forEach(key => {
            const keyPath = `${path}.${key}`;
            set(this.l10n, keyPath, this._(keyPath));
          });
        });
        this.tabs.forEach(tab => {
          tab.btn = this.l10n.tabs[tab.id];
        });
      },

      ...mapAccountActions([
        types.ACCOUNT_SET_TOKEN,
        types.ACCOUNT_CLEAR_TOKEN,
      ]),
    },
  };
</script>
