<template>
  <v-container style="max-width: 500px">
    <!-- Form -->
    <v-text-field
      v-model="form.task"
      :label="l10n.writeTask"
      @keydown.enter="create"
      solo
    >
      <v-fade-transition v-slot:append>
        <v-icon v-if="form.task" @click="create">mdi-plus-circle</v-icon>
      </v-fade-transition>
    </v-text-field>

    <!-- Scoreboard -->
    <h2 class="display-1 pl-3">
      {{ l10n.todaySprint }}
    </h2>

    <v-divider class="mt-3"></v-divider>

    <v-layout
      my-1
      align-center
    >
      <strong :class="remainingClasses">
        {{ l10n.status.remaining }} {{ remaining }}
      </strong>

      <v-divider vertical></v-divider>

      <strong :class="completedClasses">
        {{ l10n.status.completed }} {{ completed }}
      </strong>

      <v-spacer></v-spacer>

      <v-progress-circular
        :rotate="-90"
        :value="progress"
        color="primary"
        class="mr-2"
      >
        <small>{{ progress }}</small>
      </v-progress-circular>
    </v-layout>

    <v-divider class="mb-3"></v-divider>

    <!-- List of tasks -->
    <v-card v-if="tasks.length > 0">
      <v-slide-y-transition class="py-0" group>
        <template v-for="(task, i) in tasks">
          <v-divider
            v-if="i !== 0"
            :key="`${i}-divider`"
          ></v-divider>

          <v-list-tile
            :key="`${i}-${task.text}`"
            @click="() => toggleTaskState(task)"
          >
            <v-list-tile-avatar @click.stop="() => remove(task.id)">
              <v-icon color="error">mdi-delete</v-icon>
            </v-list-tile-avatar>

            <v-list-tile-action @click="() => toggleTaskState(task)">
              <v-checkbox
                v-model="task.done"
              >
                <template v-slot:label>
                  <div
                    :class="{'ml-3': true, 'grey--text': task.done, 'text-primary': task.done, done: task.done}"
                    v-text="task.title"
                  ></div>
                </template>
              </v-checkbox>
            </v-list-tile-action>

            <v-spacer></v-spacer>

            <v-scroll-x-transition>
              <v-icon v-if="task.done" color="success">mdi-check</v-icon>
            </v-scroll-x-transition>
          </v-list-tile>
        </template>
      </v-slide-y-transition>
    </v-card>
  </v-container>
</template>

<style>
  .done {
    text-decoration: line-through;
  }
</style>

<script>
  import axios from 'axios';
  import {reject} from 'lodash';

  import i18nMessages from './locale';
  import {api as apiTasks} from '../../api/tasks';

  export default {
    name: 'tasks',
    props: {
      items: {
        type: Array,
        default() {
          return [];
        },
      },
    },

    data() {
      const data = {
        i18nMessages,
        l10n: { status: {} },
        tasks: this.items,
        form: {
          task: null,
        },
      };
      return data;
    },

    computed: {
      remainingClasses() {
        return {
          'mx-3': true,
          'red--text': this.remaining > 0,
          'text--darken-3': true,
        };
      },
      completedClasses() {
        return {
          'mx-3': true,
          'success--text': this.remaining === 0,
        };
      },

      completed() {
        return this.tasks.filter(task => task.done).length;
      },
      progress() {
        if (this.tasks.length === 0) return 100;
        return Math.round(this.completed / this.tasks.length * 100);
      },
      remaining() {
        return this.tasks.length - this.completed;
      },
    },

    watch: {
      items() {
        this.tasks = this.items;
      },
      'tasks.length': function() {
        this.l10n.todaySprint = this._tc('todaySprint', this.tasks.length, {count: this.tasks.length});
      },
    },

    methods: {
      remove(taskId) {
        axios
          .delete(apiTasks.post(taskId))
          // eslint-disable-next-line no-unused-vars
          .then(response => {
            this.tasks = reject(this.tasks, {id: taskId});
          })
          .catch(this.handleRequestError);
      },

      create () {
        const newTask = {
          done: false,
          title: this.form.task,
        };

        axios
          .post(apiTasks.post(), newTask)
          // eslint-disable-next-line no-unused-vars
          .then(response => {
            this.tasks.push(newTask);
            this.form.task = null;
          })
          .catch(this.handleRequestError);
      },

      handleRequestError(error) {
        /* eslint-disable no-console */
        if (error.response) {
          // The request was made and the server responded with a status code
          // that falls out of the range of 2xx.
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
        } else if (error.request) {
          // The request was made but no response was received `error.request`
          // is an instance of XMLHttpRequest in the browser and an instance of
          // http.ClientRequest in Node.js.
          console.log(error.request);
        } else {
          // Something happened in setting up the request that triggered an Error.
          console.log('Error', error.message);
        }
        console.log(error.config);
        /* eslint-enable no-console */
      },

      localize() {
        const _ = this._;
        ['completed', 'remaining'].forEach(state => {
          this.l10n.status[state] = _(`status.${state}`);
        });
        this.l10n.writeTask = _('writeTask');
        this.l10n.todaySprint = this._tc('todaySprint', this.tasks.length, {count: this.tasks.length});
      },

      toggleTaskState(task) {
        const newState = !task.done;
        axios
          .put(apiTasks.post(task.id), {title: task.title, done: newState})
          // eslint-disable-next-line no-unused-vars
          .then(response => {
            task.done = newState;
          })
          .catch(this.handleRequestError);
      },
    },
  };
</script>
