<template>
  <v-navigation-drawer
    v-if="isSignedIn"
    app
    fixed
    permanent
  >
    <v-toolbar flat>
      <v-list>
        <v-list-tile>
          <v-list-tile-title class="title">
            {{ l10n.label.title }}
          </v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-toolbar>

    <v-divider></v-divider>

    <v-list class="pt-0">
      <v-list-tile
        v-for="(section, index) in sections"
        :key="l10n.sections[index]"
        :to="section.url"
        active-class="accent--text"
      >
        <v-list-tile-action>
          <v-icon>
            mdi-{{ section.icon }}
          </v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>
            {{ l10n.sections[index] }}
          </v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

  </v-navigation-drawer>
</template>

<script>
  import i18nMessages from './locale';

  // Mixins.
  import I18n from '../../mixins/i18n';

  // Store.
  import { createNamespacedHelpers, mapState } from 'vuex';


  const {
      mapGetters: mapAccountGetters,
      mapState: mapAccountState,
    } = createNamespacedHelpers('account');

  export default {
    name: 'Sidebar',

    mixins: [
      I18n,
    ],

    data () {
      const data = {
        l10n: { label: {}, sections: [] },
        i18nMessages,
        sections: [
          { key: 'goals', icon: 'bullseye-arrow', url: '/goals' },
          { key: 'projects', icon: 'rocket', url: '/projects' },
          { key: 'tasks', icon: 'clipboard-check-outline', url: '/tasks' },
        ],
      };

      return data;
    },

    computed: {
      ...mapAccountGetters([
        'isSignedIn',
      ]),
    },

    methods: {
      localize() {
        this.l10n.label.title = this._('label.title');
        this.l10n.sections.length = 0;
        this.sections.forEach(section => {
          this.l10n.sections.push(this._(`section.${section.key}`));
        });
      },
    },
  };
</script>
