<template>
  <v-container>

    <!-- New/edit dialog -->
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ form.dialogTitle }}</span>
        </v-card-title>

        <!-- Form -->
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <!-- Title -->
              <v-flex xs12>
                <v-text-field
                  ref="projectTitle"
                  v-model="form.title"
                  :label="l10n.label.title"
                  prepend-icon="mdi-rocket"
                  maxlength="25"
                  counter
                ></v-text-field>
              </v-flex>
              <!-- Description -->
              <v-flex xs12>
                <v-text-field
                  v-model="form.description"
                  :label="l10n.label.description"
                  prepend-icon="mdi-card-text"
                  maxlength="255"
                  counter
                ></v-text-field>
              </v-flex>
              <!-- Deadline -->
              <v-flex xs12 sm6>
                <v-menu
                  v-model="datepickerMenu"
                  :nudge-right="40"
                  min-width="290px"
                  transition="scale-transition"
                  full-width
                  lazy
                  offset-y
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="form.deadline"
                      :label="l10n.label.deadline"
                      prepend-icon="mdi-calendar-alert"
                      v-on="on"
                      @focus="openDatePicker"
                      readonly
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="form.deadline"
                    :locale="$i18n.locale"
                    @input="closeDatePicker"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <!-- Related goals -->
              <v-flex xs12>
                <v-autocomplete
                  v-model="form.goals"
                  :items="goals"
                  :label="l10n.label.goals"
                  ref="autocomplete"
                  color="blue-grey lighten-2"
                  item-text="title"
                  item-value="id"
                  box
                  chips
                  deletable-chips
                  dense
                  hide-selected
                  multiple
                  small-chips
                >
                  <template v-slot:selection="data">
                    <v-chip
                      :selected="data.selected"
                      @input="removeGoal(data.item.id)"
                      class="chip--select-multi"
                      close
                      small
                    >
                      <v-avatar>
                        <v-icon>mdi-bullseye-arrow</v-icon>
                      </v-avatar>
                      {{ data.item.title }}
                    </v-chip>
                  </template>
                  <template v-slot:item="data">
                    <v-list-tile-content class="contributed-goal">
                      <v-list-tile-title>{{ data.item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red" @click="cancelDialog">{{ l10n.btn.cancel }}</v-btn>
          <v-btn color="green" @click="saveDialog">{{ l10n.btn.save }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Condition controls -->
    <v-layout>
      <v-flex xs2 class="ma-2">
        <v-card class="pa-3">
          <!-- Order by -->
          <span class="title">Order</span>
          <v-divider />
          <div class="ml-4">
            <v-select
              v-model="order.by"
              :items="order.fields"
              menu-props="auto"
              label="Field"
              hide-details
              single-line
              @change="applyProjects"
            />
            <v-switch
              v-model="order.descending"
              :label="orderDirection"
              @change="applyProjects"
            />
          </div>
          <!-- Filter by -->
          <span class="title">Filters</span>
          <v-divider />
          <div class="ml-4">
            <v-select
              v-model="filter.goal"
              :items="goals"
              item-text="title"
              item-value="id"
              menu-props="auto"
              label="Goal"
              hide-details
              single-line
              @change="applyProjects"
            />
          </div>
        </v-card>
      </v-flex>

      <v-spacer />

      <v-flex xs9>
        <!-- Show a spinner while loading the projects -->
        <div
          class="text-xs-center"
          v-if="projects === null"
        >
          <PacmanLoader
            :loading="true"
            class="d-inline-block"
            color="yellow"
          />
        </div>

        <!-- Projects -->
        <v-card
          v-for="(project, index) in filteredProjects"
          :key="project.id"
          :ref="`project_${index}`"
          class="project-card ma-2"
        >
          <v-progress-linear
            class="my-0"
            color="primary"
            height="2"
          />
          <v-layout>
            <v-flex
              class="text-xs-center my-auto"
              xs2
            >
              <v-img
                src="static/freepik/project.svg"
                alt="vuedooist-logo"
                aspect-ratio="1"
                height="100px"
                contain
              ></v-img>
            </v-flex>
            <v-divider vertical />
            <v-flex
              class="project-info"
              xs9
            >
              <v-card-title>
                <div>
                  <div class="headline">{{ project.title }}</div>
                  <div class="title">{{ project.description }}</div>
                  <v-progress-linear
                    v-model="project.progress"
                    color="success"
                  />
                  <!--<v-divider />-->
                  <div class="subheading">
                    <v-icon class="d-inline">
                      mdi-calendar-alert
                    </v-icon>
                    Deadline:
                    {{ project.deadline }}
                  </div>
                  <div class="goals">
                    <v-icon class="d-inline">
                      mdi-charity
                    </v-icon>
                    <span class="subheading">
                      Contributes to:
                    </span>
                    <chip
                      v-for="goal in project.goals"
                      :key="goal.id"
                      goal
                      small
                    >
                      {{ goal.title }}
                    </chip>
                  </div>
                </div>
              </v-card-title>
            </v-flex>
            <v-divider vertical />
            <v-flex>
              <v-card-actions class="pa-1 project-actions">
                <v-spacer></v-spacer>
                <v-btn
                  v-for="actionButton in actionButtons"
                  :key="`action_btn_pid_${project.id}_${actionButton.id}`"
                  :ref="`action_btn_pid_${project.id}_${actionButton.id}`"
                  :color="actionButton.color"
                  :flat="flatBtn[`${project.id}_${actionButton.id}`]"
                  class="project-btn mb-1"
                  small
                  @click="(event) => actionButton.cb(event, project.id, `action_btn_pid_${project.id}_${actionButton.id}`)"
                  @mouseenter.stop="(event) => onBtnMouseEnter(event, project.id, actionButton.id)"
                  @mouseleave.stop="(event) => onBtnMouseLeave(event, project.id, actionButton.id)"
                >
                  <v-icon
                    :ref="`btn_pid_${project.id}_${actionButton.id}`"
                    class="ma-0"
                    left
                    small
                  >
                    {{ actionButton.icon }}
                  </v-icon>
                  <span class="project-btn-label">
                    {{ actionButton.label }}
                  </span>
                </v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>

    <!-- Fab button: new project -->
    <v-btn
      color="primary"
      fab
      fixed
      bottom
      right
      @click="() => openFormDialog()"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </v-container>
</template>

<style lang="scss">
  .v-text-field__prefix {
    white-space: nowrap;
  }
  /* Animation of spinner */
  .spinner {
    animation: loader 1s infinite;
    display: flex;
  }
  @keyframes loader {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
  }
  /* Contributed goals selector */
  .v-list__tile {
    height: auto;
    min-height: 48px;
  }
  .contributed-goal > .v-list__tile__title {
    height: auto;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
  }
  .project-card {
    border: solid 1px;
  }
  .project-btn {
    min-width: auto;
    overflow: hidden;
  }
  .project-btn:hover .project-btn-label {
    width: 80px;
    opacity: 1;
  }
  .project-btn-label {
    display: inline-block;
    width: 0;
    opacity: 0;
    transition: all .5s;
  }
  .project-info {
    $width: 85%;
    flex-basis: $width !important;
    max-width: $width !important;
  }
  .project-info > .v-card__title > div {
    width: 100%;
  }
  .project-actions {
    $width: 40px;
    align-items: flex-end;
    flex-basis: $width;
    max-width: $width;
    flex-direction: column;
    width: $width;
  }
  .v-card.theme--dark.selected-project {
    border: solid 1px #64B5F6; /* Vuetify blue lighten-2 */
  }
</style>

<script>
  import PacmanLoader from 'vue-spinner/src/PacmanLoader.vue';
  import {clamp, find, findIndex, forEach, pick, set} from 'lodash';

  // APIs.
  import {api as apiGoals} from '../../api/goals';
  import {api as apiProjects} from '../../api/projects';

  // Components.
  import Chip from '../chip/Chip';

  // Mixins.
  import Axios from '../../mixins/axios';
  import Hotkeys from '../../mixins/hotkeys';
  import I18n from '../../mixins/i18n';
  import Utils from '../../mixins/utils';

  import i18nMessages from './locale';

  export default {
    name: 'projects',

    components: {
      Chip,
      PacmanLoader,
    },

    mixins: [
      Axios,
      Hotkeys,
      I18n,
      Utils,
    ],

    data() {
      const data = {
        dialog: false,
        datepickerMenu: false,
        projects: null, //[],
        goals: [],
        i18nMessages,
        l10n: {
          btn: {},
          formTitle: {},
          label: {},
          table: {},
        },
        selectedProject: null,
        filteredProjects: [],
        order: {
          // Models for form controls.
          by: 'deadline',
          descending: false,
          // Select items.
          fields: [
            { text: 'Deadline', value: 'deadline' },
            { text: 'Title', value: 'title' },
          ],
        },
        filter: {
          goal: null,
        },
        hotkeys: [
          { // Create new project.
            keys: 'control insert',
            on_keydown: () => this.openFormDialog(),
          },
          { // Select previous (filtered) project.
            keys: 'control up',
            on_keydown: () => this.selectProject(-1),
          },
          { // Select next (filtered) project.
            keys: 'control down',
            on_keydown: () => this.selectProject(),
          },
          { // Select first (filtered) project.
            keys: 'control home',
            on_keydown: () => this.selectProject(-this.filteredProjects.length),
          },
          { // Select last (filtered) project.
            keys: 'control end',
            on_keydown: () => this.selectProject(this.filteredProjects.length),
          },
          { // Edit project.
            keys: 'control e',
            on_keydown: () => {
              if (this.selectedProject === null) return;
              const projectId = this.filteredProjects[this.selectedProject].id;
              this.editProject(null, projectId);
            },
          },
          { // Remove project.
            keys: 'control delete',
            prevent_repeat: true,
            on_keydown: () => {
              if (this.selectedProject === null) return;
              const projectId = this.filteredProjects[this.selectedProject].id;
              this.removeProject(null, projectId);
            },
          },
        ],
        loading: {
          goal: false,
        },
        headers: [
          { value: 'summary', align: 'left' },
          { value: 'deadline', align: 'right' },
          { value: 'goals', align: 'left', sortable: false },
          { value: 'action', align: 'left', sortable: false },
        ],
        pagination: {
          sortBy: 'deadline',
          descending: true,
        },
        form: {
          dialogTitle: '',
          id: 0,
          title: '',
          description: '',
          deadline: null,
          goals: [],
        },
        flatBtn: {},
        actionButtons: [
          { icon: 'mdi-pencil', color: 'primary', id: 'edit', cb: this.editProject, label: 'Edit' },
          { icon: 'mdi-package-variant-closed', color: 'warning', id: 'close', cb: this.archiveProject, label: 'Archive' },
          { icon: 'mdi-delete', color: 'error', id: 'remove', cb: this.removeProject, label: 'Remove' },
        ],
      };

      return data;
    },

    computed: {
      // FIXME: Do with switch @change
      orderDirection() {
        return this.order.descending ? 'Descending' : 'Ascending';
      },
    },

    watch: {
      dialog(open) {
        if (open === true) {
          this.$nextTick(() => this.$refs.projectTitle.focus());
        }
      },
    },

    created() {
      this.loadProjects();
      this.loadGoals();
    },

    mounted() {
      // Consider very long project names: they should be contained
      // in the same width as the autocomplete form field.
      const menu = this.$refs.autocomplete.$refs.menu.$refs.content;
      this.$refs.autocomplete.$refs.input.onfocus = () => {
        menu.children[0].style['max-width'] = this.$refs.autocomplete.$el.offsetWidth;
      };
    },

    methods: {
      applyProjects() {
        if (this.projects === null) {
          this.filteredProjects = [];
          return;
        }

        let projects = this.projects.slice(0);
        // First, apply filters.
        if (this.filter.goal !== null) {
          projects = projects.filter(project => {
            return project.goals.some(goal => (goal.id === this.filter.goal));
          });
        }
        // Then, apply order.
        const field = this.order.by;
        projects.sort((a, b) => (a[field] > b[field]));
        if (this.order.descending) {
          projects.reverse();
        }
        // Re-set `flat` prop for all action buttons.
        this.projects.forEach(project => {
          this.actionButtons.forEach(btn => {
            this.flatBtn[`${project.id}_${btn.id}`] = true;
          });
        });

        this.filteredProjects = projects;
      },

      selectProject(delta = 1) {
        const selectedClass = 'selected-project';
        const animationClasses = ['animated', 'faster', 'pulse'];
        // Deselect previous project.
        if (this.selectedProject !== null) {
          this.$refs['project_' + this.selectedProject][0].$el.classList.remove(selectedClass);
        }
        // Select next project, scroll until centered in browser view and animate to grab user attention.
        this.selectedProject = clamp(this.selectedProject + delta, 0, this.filteredProjects.length - 1);
        const $el = this.$refs['project_' + this.selectedProject][0].$el;
        $el.scrollIntoView({
          behavior: 'smooth',
          block: 'center',
          inline: 'center',
        });
        $el.classList.add(selectedClass, ...animationClasses);
        $el.addEventListener('animationend', () => $el.classList.remove(...animationClasses));
      },

      onBtnMouseEnter(event, idProject, idBtn) {
        this.flatBtn[`${idProject}_${idBtn}`] = false;
        this.$forceUpdate();
      },

      onBtnMouseLeave(event, idProject, idBtn) {
        this.flatBtn[`${idProject}_${idBtn}`] = true;
        this.$forceUpdate();
      },

      archiveProject(event, id) {
        // TODO:
      },

      removeGoal(id) {
        const index = this.form.goals.indexOf(id);
        if (index !== -1) this.form.goals.splice(index, 1);
      },

      openDatePicker() {
        this.defer(() => { this.datepickerMenu = true; });
      },

      closeDatePicker() {
        this.datepickerMenu = false;
      },

      openFormDialog(edit = false) {
        this.form.dialogTitle = this.l10n.formTitle[edit ? 'edit' : 'new'];
        if (!edit) {
          this.resetForm();
        }
        this.dialog = true;
        return this.loadGoals();
      },

      cancelDialog() {
        this.dialog = false;
        this.resetForm();
      },

      resetForm() {
        this.form.id = 0;
        this.form.title = '';
        this.form.description = '';
        this.form.goals = [];
        this.form.deadline = null;
      },

      loadGoals() {
        return this.$axios.get(apiGoals.get())
          .then(response => {
            this.goals = response.data;
          })
          .catch(this.axiosRequestErrorHandler);
      },

      loadProjects() {
        this.$axios.get(apiProjects.get())
          .then(response => {
            this.projects = response.data;
            this.applyProjects();
            //this.filteredProjects = this.applyProjects();
            //this.loading.table = false;
          })
          .catch(this.axiosRequestErrorHandler);
      },

      saveDialog() {
        if (this.form.id === 0) {
          this.createProject();
        } else {
          this.updateProject();
        }
      },

      createProject() {
        const newProject = pick(this.form,
          ['title', 'description', 'deadline', 'goals']);

        this.$axios.post(apiProjects.post(), newProject)
          .then(response => {
            this.projects.push(response.data);
            this.dialog = false;
            this.resetForm();
          })
          .catch(this.axiosRequestErrorHandler);
      },

      editProject(event, projectId, refIcon) {
        this.form.id = projectId;
        // Watch out! Action may be triggered through hotkeys.
        refIcon = refIcon || `btn_pid_${projectId}_edit`;
        const classList = this.$refs[refIcon][0].$el.classList;
        classList.remove('mdi-pencil');
        classList.add('mdi-refresh', 'spinner');
        this.$axios.get(apiProjects.get(projectId))
          .then(response => {
            Object.assign(this.form, pick(response.data, ['title', 'description', 'deadline']));
            classList.remove('mdi-refresh', 'spinner');
            classList.add('mdi-pencil');

            // Preselect contributed goals.
            response.data.goals.forEach(goal => {
              this.form.goals.push(goal.id);
            });

            return this.openFormDialog(true);
          })
          .catch(this.axiosRequestErrorHandler);
      },

      removeProject(event, projectId) {
        this.$axios.delete(apiProjects.post(projectId))
          .then(() => {
            const index = findIndex(this.projects, {id: projectId});
            this.projects.splice(index, 1);
          })
          .catch(this.axiosRequestErrorHandler);
      },

      updateProject() {
        const modified = pick(this.form,
          ['title', 'description', 'deadline', 'goals']);
        const row = find(this.projects, { id: this.form.id });

        this.$axios.put(apiProjects.post(this.form.id), modified)
          .then(response => {
            Object.assign(row, response.data);
            this.dialog = false;
            this.resetForm();
          })
          .catch(this.axiosRequestErrorHandler);
      },

      localize() {
        const l10n = this.l10n;
        ['summary', 'deadline', 'goals', 'actions'].forEach((key, index) => {
          this.headers[index].text = this._(`table.header.${key}`);
        });
        const toLocalize = {
          label: ['deadline', 'description', 'goals', 'items', 'title'],
          formTitle: ['new', 'edit'],
          btn: ['cancel', 'new', 'save'],
          'btn.action': ['edit', 'remove'],
          table: ['noData'],
        };
        forEach(toLocalize, (keys, path) => {
          keys.forEach(key => {
            const keyPath = `${path}.${key}`;
            set(l10n, keyPath, this._(keyPath));
          });
        });
      },
    },
  };
</script>
