<template>
  <v-toolbar app>
    <v-toolbar-title class="headline text-uppercase d-flex vertical-aligned">
      <v-btn
        active-class=""
        to="/"
        depressed
        flat
        large
      >
        <v-img
          :height="toolbarLogoSize"
          :width="toolbarLogoSize"
          src="static/freepik/vuedooist.svg"
          alt="vuedooist-logo"
          aspect-ratio="1"
          class="d-inline-flex mr-3"
          contain
        ></v-img>
        <span class="headline">Vuedooist</span>
      </v-btn>
    </v-toolbar-title>
    <v-spacer />

    <!-- Language selector -->
    <v-menu
      id="menu-app-language"
      transition="slide-y-reverse-transition"
    >
      <template #activator="{ on: menu }">
        <v-tooltip bottom>
          <template #activator="{ on: tooltip }">
            <v-btn
              id="btn-app-language"
              color="primary"
              dark
              v-on="{ ...tooltip, ...menu }"
            >
              <v-icon>mdi-translate</v-icon>
              &nbsp;{{ l10n.btn.language.label }}
            </v-btn>
          </template>
          <span>{{ l10n.btn.language.tip }}</span>
        </v-tooltip>
      </template>
      <v-list>
        <v-list-tile
          v-for="(code, index) in list.languages"
          :key="index"
          @click="setLanguage(code)"
        >
          <v-list-tile-title>{{ l10n.languages[code] }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <Sign />

  </v-toolbar>
</template>

<style>
  .vertical-aligned {
    align-items: center;
  }
</style>

<script>
  import {forEach, set} from 'lodash';

  // Components.
  import Sign from '../sign/Sign';

  // Mixins.
  import i18nMessages from './locale';
  import I18n from '../../mixins/i18n';

  // Store.
  import { createNamespacedHelpers, mapState } from 'vuex';
  const {
      mapGetters: mapAccountGetters,
      mapState: mapAccountState,
    } = createNamespacedHelpers('account');


  export default {
    name: 'Toolbar',

    components: {
      Sign,
    },

    mixins: [
      I18n,
    ],

    data () {
      const data = {
        i18nMessages,
        l10n: {},
        toolbarLogoSize: 30,
        // Use lists to always show items in the same order when looping.
        list: { languages: ['en', 'es'] },
      };

      return data;
    },

    computed: {
      ...mapAccountGetters([
        'isSignedIn',
      ]),
    },

    methods: {
      /**
       * @summary Set the UI language.
       * @param {string} langCode - The language ISO code.
       */
      setLanguage(langCode) {
        this.$vuetify.lang.current = langCode;
        this.$i18n.locale = langCode;
      },

      /** @summary Localize all the component messages. */
      localize() {
        const toLocalize = {
          'btn.language': ['label', 'tip'],
        };
        forEach(toLocalize, (keys, path) => {
          keys.forEach(key => {
            const keyPath = `${path}.${key}`;
            set(this.l10n, keyPath, this._(keyPath));
          });
        });
        this.l10n.languages = {};
        this.list.languages.forEach(code => {
          this.l10n.languages[code] = this._(`language.${code}`);
        });
      },
    },
  };
</script>
