{% load render_bundle from webpack_loader %}

<body>
  <div id="app">
    <entrypoint></entrypoint>
  </div>

  <script type="text/javascript">
    // Knox URLs: https://james1345.github.io/django-rest-knox/urls/
    // DRF-auth URLs:
    //  - https://github.com/Tivix/django-rest-auth/blob/master/rest_auth/urls.py
    //  - https://github.com/Tivix/django-rest-auth/blob/master/rest_auth/registration/urls.py
    window.authUrls = {
      password: {
        /*change: '{ % url "rest_password_change" %}',
        confirm: '{ % url "rest_password_reset_confirm" %}',
        reset: '{ % url "rest_password_reset" %}',*/
      },
      sign: {
        in: '{% url "knox_login" %}', // django-rest-auth: rest_login
        out: '{% url "knox_logout" %}', // django-rest-auth: rest_logout
        outAll: '{% url "knox_logoutall" %}',
        up: '{% url "rest_register" %}',
      },
      //user: '{ % url "rest_user_details" %}',
      email: {
        //confirm: '{ % url "account_confirm_email" %}',
        verify: '{% url "rest_verify_email" %}',
      },
    };
  </script>

  {% render_bundle 'chunk-vendors' %}
  {% render_bundle 'public_frontend_vue_spa' %}
</body>
