<template>
  <v-container style="max-width: 900px">
    <v-toolbar flat>
      <v-toolbar-title>{{ l10n.label.goals }}</v-toolbar-title>
      <v-spacer></v-spacer>

      <!-- New/edit dialog -->
      <v-dialog v-model="dialog" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn
            color="primary"
            class="mb-2"
            v-on="on"
            @click="() => openFormDialog()"
          >
            {{ l10n.btn.newGoal }}
          </v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ form.dialogTitle }}</span>
          </v-card-title>

          <!-- Form -->
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <!-- Title -->
                <v-flex xs12>
                  <v-text-field
                    ref="goalTitle"
                    v-model="form.title"
                    :label="l10n.label.title"
                    prepend-icon="mdi-bullseye-arrow"
                    maxlength="25"
                    counter
                  ></v-text-field>
                </v-flex>
                <!-- Definition -->
                <v-flex xs12>
                  <v-text-field
                    v-model="form.definition"
                    :label="l10n.label.definition"
                    :prefix="l10n.label.definitionPrefix"
                    prepend-icon="mdi-card-text"
                    maxlength="255"
                    counter
                  ></v-text-field>
                </v-flex>
                <!-- Deadline -->
                <v-flex xs12 sm6>
                  <v-menu
                    v-model="datepickerMenu"
                    :nudge-right="40"
                    min-width="290px"
                    transition="scale-transition"
                    full-width
                    lazy
                    offset-y
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="form.deadline"
                        :label="l10n.label.deadline"
                        prepend-icon="mdi-calendar-alert"
                        v-on="on"
                        @focus="openDatePicker"
                        readonly
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="form.deadline"
                      :locale="$i18n.locale"
                      @input="closeDatePicker"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" @click="cancel">{{ l10n.btn.cancel }}</v-btn>
            <v-btn color="green" @click="save">{{ l10n.btn.save }}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>

    <v-data-table
      ref="goalsTable"
      :disable-initial-sort="true"
      :headers="headers"
      :items="goals"
      :pagination.sync="pagination"
      class="elevation-1"
    >
      <template v-slot:items="props">
        <!-- Goal data cells -->
        <td>
          <strong>{{ props.item.title }}</strong>:
          {{ props.item.definition }}
        </td>
        <td class="text-xs-right">{{ props.item.deadline }}</td>
        <!-- Action buttons -->
        <td class="text-xs-left">
          <v-tooltip
            v-for="actionBtn in actionButtons"
            :key="`goal-action-btn-${actionBtn.id}`"
            open-delay="1000"
            bottom
          >
            <template v-slot:activator="{ on }">
              <v-btn
                @click="(event) => actionBtn.cb(props.item.id, event)"
                :color="actionBtn.color"
                v-on="on"
                class="mx-0"
                flat
                icon
              >
                <v-icon>{{ actionBtn.icon }}</v-icon>
              </v-btn>
            </template>
            <span>{{ l10n.btn.action[actionBtn.id] }}</span>
          </v-tooltip>
        </td>
      </template>

      <template v-slot:no-data>
        <v-container v-if="loading.table" class="text-xs-center">
          <pulse-loader
            :loading="loading.table"
            :color="$vuetify.theme.accent"
            size="10"
          ></pulse-loader>
        </v-container>
        <v-alert
          v-if="!loading.table"
          :value="true"
          color="error"
          icon="mdi-alert"
        >
          {{ l10n.table.noData }}
        </v-alert>
      </template>
    </v-data-table>
  </v-container>
</template>

<style>
  .v-text-field__prefix {
    white-space: nowrap;
  }
  /* Animation of spinner */
  .spinner {
    animation: loader 1s infinite;
    display: flex;
  }
  @keyframes loader {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
  }
</style>

<script>
  import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
  import {capitalize, find, forEach, lowerFirst, pick, reject, set} from 'lodash';

  import i18nMessages from './locale';
  import {api as apiGoals} from '../../api/goals';

  // Mixins.
  import Axios from '../../mixins/axios';
  import DataTable from '../../mixins/datatable';
  import I18n from '../../mixins/i18n';

  export default {
    name: 'goals',

    components: {
      PulseLoader,
    },

    mixins: [
      Axios,
      DataTable,
      I18n,
    ],

    data() {
      const data = {
        dialog: false,
        datepickerMenu: false,
        goals: [],
        i18nMessages,
        l10n: {
          btn: {},
          formTitle: {},
          label: {},
          table: {},
        },
        loading: {
          table: true,
          goal: false,
        },
        headers: [
          { value: 'title', align: 'left' },
          { value: 'deadline', align: 'right' },
          { value: 'action', align: 'left', sortable: false },
        ],
        pagination: {
          sortBy: 'deadline',
          descending: true,
        },
        form: {
          id: 0,
          title: '',
          dialogTitle: '',
          definition: null,
          deadline: null,
        },
        actionButtons: [
          { icon: 'mdi-pencil', color: 'accent', id: 'edit', cb: this.editGoal },
          { icon: 'mdi-delete', color: 'error', id: 'remove', cb: this.removeGoal },
        ],
      };
      this.loadGoals();
      return data;
    },

    watch: {
      dialog(open) {
        if (open === true) {
          this.$nextTick(() => this.$refs.goalTitle.focus());
        }
      },
    },

    methods: {
      openDatePicker() {
        this.datepickerMenu = true;
      },

      closeDatePicker() {
        this.datepickerMenu = false;
      },

      openFormDialog(edit = false) {
        this.form.dialogTitle = this.l10n.formTitle[edit ? 'edit' : 'new'];
        if (!edit) this.resetForm();
        this.dialog = true;
      },

      cancel() {
        this.dialog = false;
        this.resetForm();
      },

      resetForm() {
        this.form.dialogTitle = '';
        this.form.id = 0;
        this.form.title = null;
        this.form.definition = null;
        this.form.deadline = null;
      },

      loadGoals() {
        this.$axios.get(apiGoals.get())
          .then(response => {
            this.goals = response.data;
            this.loading.table = false;
          })
          .catch(this.axiosRequestErrorHandler);
      },

      save() {
        if (this.form.id === 0) {
          this.createGoal();
        } else {
          this.updateGoal();
        }
      },

      createGoal() {
        const newGoal = pick(this.form, ['title', 'definition', 'deadline']);
        newGoal.definition = capitalize(newGoal.definition);

        this.$axios.post(apiGoals.post(), newGoal)
          .then(response => {
            this.goals.push(response.data);
            this.dialog = false;
            this.resetForm();
            this.deferredReorder(this.$refs.goalsTable);
          })
          .catch(this.axiosRequestErrorHandler);
      },

      editGoal(goalId, event) {
        this.form.id = goalId;
        const classList = event.target.classList;
        classList.remove('mdi-pencil');
        classList.add('mdi-refresh', 'spinner');
        this.$axios.get(apiGoals.get(goalId))
          .then(response => {
            Object.assign(this.form, response.data);
            this.form.definition = lowerFirst(this.form.definition);
            classList.remove('mdi-refresh', 'spinner');
            classList.add('mdi-pencil');
            this.openFormDialog(true);
          })
          .catch(this.axiosRequestErrorHandler);
      },

      removeGoal(goalId) {
        this.$axios.delete(apiGoals.post(goalId))
          .then(() => {
            this.goals = reject(this.goals, {id: goalId});
          })
          .catch(this.axiosRequestErrorHandler);
      },

      updateGoal() {
        const modified = pick(this.form, ['title', 'definition', 'deadline']);
        modified.definition = capitalize(modified.definition);
        const goalRow = find(this.goals, { id: this.form.id });

        this.$axios.put(apiGoals.post(this.form.id), modified)
          .then(response => {
            Object.assign(goalRow, response.data); // Update table row.
            this.dialog = false;
            this.resetForm();
            this.deferredReorder(this.$refs.goalsTable);
          })
          .catch(this.axiosRequestErrorHandler);
      },

      localize() {
        const l10n = this.l10n;
        ['title', 'deadline', 'actions'].forEach((key, index) => {
          this.headers[index].text = this._(`table.header.${key}`);
        });
        const toLocalize = {
          label: ['deadline', 'goals', 'title', 'definition', 'definitionPrefix'],
          formTitle: ['new', 'edit'],
          btn: ['cancel', 'newGoal', 'save'],
          'btn.action': ['edit', 'remove'],
          table: ['noData'],
        };
        forEach(toLocalize, (keys, path) => {
          keys.forEach(key => {
            const keyPath = `${path}.${key}`;
            set(l10n, keyPath, this._(keyPath));
          });
        });
      },
    },
  };
</script>
