<template>
  <v-chip :small="small" :color="final.color" :class="final.classes">
    <v-avatar :color="final.avatarColor">
      <v-icon v-if="final.icon.mdi">{{ final.icon.mdi }}</v-icon>
    </v-avatar>
    <slot></slot>
  </v-chip>
</template>

<script>
  export default {
    name: 'chip',

    props: {
      small: {
        type: Boolean,
        default: false,
      },
      avatarColor: {
        type: String,
        default: '',
      },
      color: {
        type: String,
        default: '',
      },
      // Chip types.
      type: {
        type: String,
        validator: function (value) {
          return ['goal', 'project'].indexOf(value) !== -1;
        },
      },
      goal: {
        type: Boolean,
        default: false,
      },
      project: {
        type: Boolean,
        default: false,
      },
    },

    data() {
      const data = {
        final: {
          avatarColor: null,
          color: null,
          icon: {},
        },
      };

      if (this.type === 'goal' || this.goal === true) {
        data.final.icon.mdi = 'mdi-bullseye-arrow';
        data.final.avatarColor = this.$vuetify.theme.primary;
        data.final.classes = {
          primary: true,
          'lighten-1': true,
        };
      } else if (this.type === 'project' || this.project === true) {
        data.final.icon.mdi = 'mdi-rocket';
        data.final.avatarColor = this.$vuetify.theme.secondary;
      }

      // User overrides.
      if (this.color) {
        data.final.color = this.color;
        delete data.final.classes;
      }
      if (this.avatarColor) {
        data.final.avatarColor = this.avatarColor;
      }

      return data;
    },
  };
</script>
